[Unit]
Description=Init Secret Launcher Auto-Unlocker
Documentation=https://github.com/pasewalck/encrypted-secrets-launcher
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-secret-launcher-unlock.sh
