[Unit]
Description=Periodic auto-unlocker check
Documentation=https://github.com/pasewalck/encrypted-secrets-launcher

[Timer]
OnCalendar=minutely
Persistent=true

[Install]
WantedBy=timers.target
