<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Service Locked</title>
</head>

<body>
    <div class="container">
        <h1>Service Locked</h1>
        <p>This page is locked. An Admin will unlock it shortly.</p>
    </div>
</body>

</html>